.loadingScreen{
  background-color: rgba(224, 42, 42, 0.836);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content:center;
  align-items: center;
  color: chartreuse;
  font-size: 70px;
  font-style: italic;
  font-weight: 300;
  animation:animationText 3s forwards;
}
*{
padding:0;
margin:0;
}
@keyframes animationText {
  0%{color: chartreuse; font-size: 70px;display: flex;}
  25%{color: rgb(230, 226, 21);font-size: 50px;display: flex;}
  50%{color: chartreuse;font-size: 67px;display: flex;}
  75%{color: rgb(226, 214, 46);font-size: 87px;display: flex;}
  100%{color: chartreuse;font-size: 70px;display: none;}
  
}
.mainScreen {
  width: 100%;
  height: 100vh;
  display:grid;
  grid-template-rows: 20% 68% 12%;
}
.scorePanel{
  box-shadow: inset 0 0 10px 4px rgb(255, 0, 0);
}
.objectPanel{
  box-shadow: inset 0 0 10px 4px rgb(0, 255, 85);
}
.controlPanel{
  box-shadow: inset 0 0 10px 4px rgb(255, 0, 234);
}
.controlPanel{
  display:flex;
  justify-content: space-around;
}
.hrefControl{
  width: 25%;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.buttonControl{
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  color: rgb(21, 255, 0);
}
.commandPanel{
  padding: 20px;
  text-align: center;
  h2,p,h3{
    margin-bottom: 40px;
  }
  background-color: blue;
}



